@charset "utf-8";
.pre0 {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	color: #000;
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
}
.code0 {
	color: #060;
	background-color: #CCC;
	letter-spacing: normal;
	word-spacing: normal;
	height: auto;
	width: auto;
}
